* {
    font-family: 'Press Start 2P', cursive;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px black;
}

.header {
    padding-top: 25px;
    display: block;
    text-align: center;
    border:rgba(229, 207, 250, 0.845)
}
#content {
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
    padding-bottom: 60px;
    text-align: center;
}
#waifuPic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}
#quotes {
    font-family: 'Dancing Script', cursive;
    font-size: 300%;
    list-style: none;
  }